# ==========================================
# 🛒 Retail ETL Pipeline - Requirements
# ==========================================

# --- Core Data Processing ---
pyspark>=3.3.0
pandas>=2.0.0
numpy>=1.23.0

# --- Database Connectors (SQL & ORM) ---
SQLAlchemy>=2.0.0
pyodbc>=4.0.39       # Main connection to Azure SQL و SQL Server
psycopg2-binary>=2.9 # If there are any data sources came from PostgreSQL
pymysql>=1.1.0       # If there are data sources to  MySQL

# --- Azure Cloud Integration ---
azure-storage-file-datalake>=12.14.0  # To act with Azure Data Lake Gen2
azure-identity>=1.14.0                # To manage cloud entry Polices

# --- Web Scraping (Competitor Data) ---
beautifulsoup4>=4.12.0
requests>=2.31.0
selenium>=4.15.0
webdriver-manager>=4.0.1

# --- Orchestration (Airflow) ---
# Note: In production, Airflow is usually run via Docker, 
# but adding it here helps with local linting and autocomplete.
apache-airflow>=2.7.0
apache-airflow-providers-microsoft-azure>=8.0.0  # To connect Airflow with Azure services

# --- Utilities & Configuration ---
python-dotenv>=1.0.0   # To read secret variables(Passwords) from .env file
pyarrow>=14.0.1        # Very important to act with Parquet files with high-performance Pandas/Spark

# --- Testing ---
pytest>=7.4.0
